<div>
  <h1>Hi there.</h1>
  <h2>My name is Mykyta Kozhemiakin.</h2>
  <p>
    I am a frontend developer mainly focused on Angular and it's innovations.
    You can find me on
    <app-linked-text
      [text]="homeLinks[0].name"
      [linkUrl]="homeLinks[0].linkUrl" />
    and
    <app-linked-text
      [text]="homeLinks[1].name"
      [linkUrl]="homeLinks[1].linkUrl" />. Currently living in Warsaw (Poland),
    in free time PS gamer and gym lover. Passionate about travelling and active
    sports.
  </p>
</div>
